<%- include('header') -%>
<%- include('navbar', { activeMenuItem: 'home', show_labels: typeof show_labels !== 'undefined' && show_labels}) -%>
<div class="container">
  <div class="row">
    <div class="col">
      <h1>
        <%= title %>
      </h1>
      <p>Welcome to <%= title %>
      </p>
    </div>
  </div>
</div>
<%- include('footer') -%>
