<%- include('header') %>
<%- include('navbar', { activeMenuItem: 'users', role:role}) %>
<main class="container-fluid">
	<div class="row my-2 justify-content-center">
		<div class="col-11">
			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">SHIMPMENT ID</th>
						<th scope="col">ORDER ID</th>
						<th scope="col">DATETIME</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% shipments.forEach((shipment, index)=> { %>
					<tr>
						<th scope="row">
							<%= index + 1 %>
						</th>
						<td>
							<%= shipment.id %>
						</td>
						<td>
							<%= shipment.order_id %>
						</td>
						<td>
							<%= shipment.datetime.split("T")[0] %> <%= shipment.datetime.split("T")[1] %>
						</td>
						<td>
							<a href="/pdf?datetime=<%= shipment.datetime %>&order_id=<%= shipment.order_id %>&id=<%= shipment.id %>"><button >DOWNLOAD PDF</button></a>
						</td>
					</tr>
					<% }) %>
				</tbody>
			</table>
		</div>
	</div>
</main>
<%- include('footer') %>
