<%- include('header') %>
<%- include('navbar', { activeMenuItem: 'orders', role:role}) %>
<h3 class="text-center">FILTRA</h3>
<div class="input-group mb-3">
  <input type="text" id="inputFilter" class="form-control" placeholder="Insert an Id, a Datetime or a Status" aria-label="Recipient's username" aria-describedby="button-addon2" onkeyup="filter()">
</div>
<div class="card-header">
  <table class="table">
    <tr class="d-flex justify-content-around">
      <th>ID</th>
      <th>TIME</th>
      <th>STATUS</th>
    </tr>
  </table>
</div>
<div id="accordion">
  <% orders.forEach(order => { %>
  <div class="card">
    <div class="card-header" id="heading<%= order.order_id %>">
      <h5 class="mb-0">
        <div class="btn btn-link collapsed d-flex justify-content-around align-items-center text-decoration-none"
          data-bs-toggle="collapse" data-bs-target="#collapse<%= order.order_id %>" aria-expanded="false"
          aria-controls="collapse<%= order.order_id %>">
          <span class="id"><%= order.order_id %></span>
          <span class="datetime"><%= order.datetime.split("T")[0] %> <%= order.datetime.split("T")[1] %></span>
          <span class="status"><%= order.status.split("_")[0] %> <%= order.status.split("_")[1] %></span>
        </div>
      </h5>
    </div>

    <div id="collapse<%= order.order_id %>" class="collapse" aria-labelledby="heading<%= order.order_id %>"
      data-bs-parent="#accordion">
      <div class="card-body">
        <main class="container-fluid">
          <div class="row my-2 justify-content-center">
            <div class="col-11">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">PRODUCT_ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Quantity</th>

                  </tr>
                </thead>
                <tbody>
                  <% order.products.forEach(order => { %>
                  <tr>
                    <th scope="row">
                      <%= order.product_id %>
                    </th>
                    <td>
                      <%= order.name %>
                    </td>
                    <td>
                      <%= order.quantity %>
                    </td>
                  </tr>
                  <% }) %>
                </tbody>
              </table>
            </div>
          </div>
        </main>
      </div>
    </div>
  </div>
  <% }) %>

</div>
<script>
  function filter(){
    const cards = document.querySelectorAll('.card') 
    const id = document.querySelectorAll('.id')
    const datetime = document.querySelectorAll('.datetime')
    const status = document.querySelectorAll('.status')
    let input = document.querySelector('#inputFilter')
    if(input.value==""){
      for(let i=0;i<cards.length;i++){
        cards[i].style.display="block"
      }
    }else{
      for(let j=0;j<cards.length;j++){
        cards[j].style.display="none"
      }
    for(let i=0;i<cards.length;i++){
      if(id[i].textContent==input.value || datetime[i].textContent==input.value || status[i].textContent==input.value){
        cards[i].style.display="block"
      }
    }
  }
}
</script>
<%- include('footer') %>
